<div class="footer-bar">
	<div class="footer container">
		
		<div class="footer-left">
		{{ site.data.settings.description }}<br><br>
		This webpage is done by <a href="http://JessicaSchlesiger.ml">Jessica Schlesiger</a>.<br><br>
		XX does not claim any rights to the listed jokes; the sources for the jokes range anywhere from candy wrappers to somewhere on the internet. 
		</div>
		
		<div class="footer-right">
			<a href="">About</a><br>
			<a href="">Contact</a><br>
			<a href="">Submit a joke</a><br>
			<a href="">About</a><br>
		</div>
		
	</div>
</div>