.footer-bar
	width: 100%
	background-color: $grayAccent
	height: 200px
	width: 100%
	left: 0
	bottom: 0
	overflow: hidden
	position: absolute
.footer
	padding: 10px
	a
		text-decoration: none
.footer-left, .footer-right
	vertical-align: middle
	height: 100%
.footer-left
	max-width: 500px
	width: 70%
	float: left
.footer-right
	min-width: 100px
	float: right